<footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="#" class="logo d-flex align-items-center">
            <span>Python</span>
          </a>
          <p>
            Beginner-friendly, versatile programming language known for its clear syntax and emphasis on readability.
              This makes it a great choice for newcomers to coding.  Python's power extends beyond simplicity, being
               used for web development, data science, machine learning, and much more!
          </p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>The Website is Built With</h4>
          <ul>
            <li><a href="#">Django</a></li>
            <li><a href="#">Bootstrap</a></li>
            <li><a href="#">Bootstrap Icon</a></li>
            <li><a href="#">Animate on Screen (AOS)</a></li>
            <li><a href="#">Purecounter</a></li>
            <li><a href="#">Isotope</a></li>
            <li><a href="#">Swiper</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Lessons</h4>
          <ul>
            <li><a href="#">Introduction</a></li>
            <li><a href="#">Get Started</a></li>
            <li><a href="#">Syntax</a></li>
            <li><a href="#">Comments</a></li>
            <li><a href="#">Variables</a></li>
            <li><a href="#">Data Types</a></li>
            <li><a href="#">Numbers</a></li>
            <li><a href="#">Casting</a></li>
            <li><a href="#">Strings</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Me</h4>
          <p>Laguile, Batangas</p>
          <p>Batangas, 4208</p>
          <p>Philippines</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+63 935 804 6736</span></p>
          <p><strong>Email:</strong> <span>irishjohnderoxas@gmail.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>&copy; <span>Copyright</span> <strong class="px-1">Append</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->